# Python Crash Course:

## Data Types:

In [114]:
# this is an integer
1

1

In [116]:
# this is a float
1.0

1.0

In [117]:
# this allows us to check the type of the variable
type(1)

int

In [ ]:
# this allows us to check the type of the variable
type(1.0)

float

In [123]:
# this allows us to check the type of the variable
lst = [1,2,3]
type(lst)

list

In [124]:
# addition operator
1 + 1

2

In [125]:
# division operator
3/5

0.6

In [126]:
# exponential operator
2**9

512

In [127]:
# modulus operator returning the remainder
4 % 2

0

In [128]:
[1,2,3]
# creating a list

[1, 2, 3]

In [ ]:
# creating a list with strings and integers
[1, 'a', 2, 'b', 3, 'c']

[1, 'a', 2, 'b', 3, 'c']

In [ ]:
mylist = ['a','b','c'] 

# creating a list and accessing the first element
mylist[0]

'a'

In [131]:
# accessing the second and last element
mylist[1:]

['b', 'c']

In [133]:
# accessing the last element
mylist[-1]

'c'

In [134]:
# accessing the first element
mylist[-3]

'a'

In [135]:
# appending an element to the list
mylist.append('d')

In [136]:
# removing the last element from the list
mylist.pop()

'd'

In [137]:
# removing the first element from the list
mylist.pop(0)

'a'

In [138]:
# reversing the list
mylist.reverse()

In [139]:
# index of the element 'b'
mylist.index('b')

1

In [140]:
# sorting the list
mylist.sort()

In [141]:
newlist = [1,2, [100,300]]

# creating a nested list and accessing the second element
newlist[2][1]

300

In [142]:
# dictionaries also know as hash tables in other languages 

d = {'key1':123, 'key2':[12,23,33], 'key3':['item0','item1','item2']} 
d['key1']

123

In [57]:
0 == False
1 == True

True

In [143]:
t = (1,2,3)
# this is a tuple
type(t)
# this is a tuple
t[0]
# this is a tuple
t[0]

1

In [144]:
# use case for tuples is when we want to store data that should not be changed 
# like days of the week, months of the year, etc. 
# tuples are faster than lists 
# tuples are more memory efficient than lists 
# tuples are more secure than lists 
# tuples are more readable than lists 
# tuples are more readable than lists

## Python Crash Course Exercises & Solutions:

#### What is 7 to the power 4?

In [145]:
print(7**4)

2401

#### For the mentioned string in S, split it using which function?

In [93]:
s = "Hi there Sam!"
s.split()

['Hi', 'there', 'Sam!']

#### Using the .format() function print the below statement

In [94]:
planet = "Earth"
diameter = 12742

print("The diameter of {planet} is {diameter} kilometers.".format(planet=planet, diameter=diameter))

The diameter of Earth is 12742 kilometers.

#### From the below list, pick 'hello':

In [146]:
lst = [1,2,[3,4], [5,[100,200,['hello']],23,11],1,7]

In [147]:
lst[3][1][2]

['hello']

#### From the below dictionary, pick 'hello':

In [99]:
d = {'k1': [1,2,3, {'tricky': ['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [106]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

#### Create an If-Else Statement for Ticket Speeding:

In [148]:
def caught_speeding(speed, is_birthday):
    if is_birthday:
        speed -= 5
    if speed <= 60:
        return 'No ticket'
    elif speed > 60 and speed <= 80:
        return 'Small ticket'
    else:
        return 'Big ticket'

In [150]:
caught_speeding(81, False)

'Big ticket'